.noteCard {
  padding: 5px;
  border-radius: 0.8rem;
  background-color: rgb(163, 88, 88);
}
.noteText {
  color: rgb(0, 41, 0);
  font-size: 1rem;
  white-space: pre-line;
}
.cardBody {
  overflow: hidden;
}
